.poster {
    width: 1500px;
    height: 4800px;
    margin-left: 220px;
}

.posterImage {
    width: 1500px;
    height: 680px;
    margin-top: 180px;
}

.img {
    border-radius: 20px;
}

.posterImage > img {
    border-radius: 20px;
    display: block;
    width: 100%;
}

.posterImage_overlay {
    border-radius: 20px;
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 80%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;
}

.posterImage_overlay:hover {
    opacity: 3;
}

.posterImage_title {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage_runtime {
    font-size: 5rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
}

.posterImage_rating {
   font-size: 1.5rem;
}

.posterImage_description {
    margin-top: 3rem;
    font-style: italic;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}

.popular {
    margin-top: 20px;
}
 
@media (max-width: 768px) {
 .poster {
    width: 95.5%;
    height: 10%;
    margin-left: 30px;
 }   

 .posterImage {
    width: 700px;
    height: 380px;
    }

    .posterImage_overlay {
        padding: 2rem;
        width: 700px;
        height:  380px;
        border-radius: 20;
        display: flex;
    }

    .posterImage_title {
        font-size: 2rem;
        font-weight: 400;
    }

    .posterImage_runtime {
        font-size: 3rem;
        margin-left: 7rem;
    }

    .posterImage_rating {
    font-size: 1rem;
    }

    .posterImage_description {
        font-size: 1rem;
        width: 70%;
        margin-top: 16px;
    }
    .popular {
        margin-top: 1px;
    }
}


@media (max-width: 414px) {
    .poster {
       width: 85%;
       height: 10%;
       margin-top: 20px;
    }   
   
    .posterImage {
       width: 400px;
       height: 280px;
       }
   
       .posterImage_overlay {
           padding: 2rem;
           width: 400px;
           height:  280px;
           border-radius: 20;
           display: flex;
       }
   
       /* .posterImage_title {
           font-size: 2rem;
           font-weight: 400;
       }
   
       .posterImage_runtime {
           font-size: 3rem;
           margin-left: 7rem;
       }
   
       .posterImage_rating {
       font-size: 1rem;
       }
   
       .posterImage_description {
           font-size: 1rem;
           width: 70%;
           margin-top: 16px;
       } */
       .popular {
           width: 350px;
           height: 1000px;
       } 
   }