.movie_list {
    background-color: #100F0F;
    color: #B8390E;
    padding: 5rem 5rem 5rem 5rem;
}

.list_title {
    font-size: 1.75rem;
    margin: 3rem 0 2rem 1rem;
}

.list_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {
    .movie_list{
        background-color: #2C3639;
        padding: 5rem 1rem 1rem 2rem;
    }
  
}